{{define "title"}}Dashboard{{end}}

{{define "body"}}
<div>
	<h1 class="header center deep-orange-text">Dashboard</h1>

	<div>
		<h4 class="deep-orange-text">Connected Registry</h4>
		<table class="responsive-table striped">
			<tbody>
				<tr>
					<td>URL</td>
					<td><a href="{{.info.URL}}">{{.info.URL}}</a></td>
				</tr>
				<tr>
					<td>Count of Images</td>
					<td>{{len .info.RepositoryInfos}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h4 class="deep-orange-text">Images</h4>
		<ul class="collapsible">
			{{range .info.RepositoryInfos}}
			{{$repo := .Name}}
				<li class="image-li">
					<div class="collapsible-header"><i class="material-icons">storage</i>{{.Name}}</div>
					<div class="collapsible-body">
						<h5 class="deep-orange-text">Tags</h5>
						<div>
							{{range $it, $tag := .Tags}}
								{{if mod $it 4 0}}
								<div class="row tagrow">
								{{end}}
									<div class="col s3 tagbox">
										<p>{{$tag}}</p>
										{{if ne $tag "latest"}}
											<p><a class="tagDeleteButton" href="#"><i data-reponame="{{$repo}}" data-tagname="{{$tag}}" class="material-icons">delete_forever</i></a></p>
										{{else}}
											<p><i data-reponame="{{$repo}}" data-tagname="{{$tag}}" class="material-icons">lock</i></p>
										{{end}}
									</div>
								{{if mod $it 4 3}}
								</div>
								{{end}}
							{{end}}
						</div>
					</div>
				</li>
			{{end}}
		</ul>
	</div>

	<script type="text/javascript" src="/static/js/dashboard.js"></script>
</div>
{{end}}